<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="chart">
  <div style="width: 60%; margin: auto">
    <p4>From </p4>
    <select [(ngModel)]="from" style="width: 100px;height: 30px;">
      <option *ngFor="let m of months" [value]='m.value'>{{m.month}}</option>
    </select>&nbsp;
    <p4>To  </p4>
  <select [(ngModel)]="to" style="width: 100px;height: 30px;">
    <option *ngFor="let m1 of months" [value]='m1.value'>{{m1.month}}</option>
  </select>&nbsp;
  <button class="button" (click)="applyDateRange()">Apply</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <p1>Tip: Click on any label to hide it from chart below. </p1>

    <canvas id="line"></canvas>
  </div>